name: Build docs

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install dependencies
      run: |
        python -m pip install --upgrade --user pip setuptools coverage
        pip install .[doc]

    - name: Build docs
      run: |
          make -C doc/ SPHINXOPTS="-W -v" BUILDDIR="$HOME/docs" OUTDIR="$HOME/html" html
